<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="HelixToolkit" version="2.12.0" targetFramework="net472" />
  <package id="HelixToolkit.Wpf" version="2.12.0" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.12.0" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="3.2.8" targetFramework="net472" />
</packages>